<h1>Demand Response Page</h1>

<div id="demand_form" style="text-align: right">
  <%= form_tag('/', :method => :put) do %>
  <table>
    <tr>
      <td>Enter the Demand Response center address:</td><td><%= text_field_tag :address %></td>
    </tr>
    <tr>
      <td>Enter the Demand Radius in Miles:</td><td><%= text_field_tag :radius %></td>
    </tr>
    <tr>
      <td>Enter the thermostat Set Point:</td><td><%= text_field_tag :setting %></td>
    </tr>
    <tr><td/><td><%= submit_tag 'Find Thermostats' %></td></tr>
  </table>
  <% end %>
</div>

<div id="response_locations">
  <%= addresses_found %>
</div>

<br/><br/>
<h3>Current Demand Center: <%= @center.address %></h3>

<%= gmaps(hash_for_gmaps) %>
