<p id="notice"><%= notice %></p>

<h1>Current Address</h1>
Address <%= @location.address %>
<br/><br/>

<h3>Location's Thermostats</h3>

<table>
  <tr>
    <th>Thermostat - SN</th>
    <th>Thermostat - Set Point</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @location.thermostats.each do |thermostat| %>
      <tr>
        <td><%= thermostat.serial_number %></td>
        <td><%= thermostat.set_point %></td>
        <td><%= link_to 'Show', location_thermostat_path(thermostat) %></td>
        <td><%= link_to 'Edit', edit_location_thermostat_path(thermostat) %></td>
        <td><%= link_to 'Destroy', location_thermostat_path(thermostat), confirm: 'Are you sure?', method: :delete %></td>
      </tr>
  <% end %>
</table>

<%= link_to 'Add a Thermostat', new_location_thermostat_path(@location) %> |
<%= link_to 'Edit this location', edit_location_path(@location) %> |
<%= link_to 'Back to Demand Response Page', locations_path %>
